/* Add your custom extension styling here */

.eclipse-password-box {
  /*
  width: 25%;
  height: 25%;
  margin: 10px;
  padding: 10px;
  background: black;
  */

}

.eclipse-password-entry {
  /*
  width: 320px;
  padding: 7px 9px;
   */
  width: 20em;
  border-radius: 10px;
  border: 5px;
}

.eclipse-decrypt-entry {
  width: 20em;
  border-radius: 4px;
  border: 4px;
}

.eclipse-encrypt-entry {
  width: 20em;
  border-radius: 4px;
  border: 4px;
  margin-bottom: 10px;
}

.eclipse-confirm-entry {
  width: 20em;
  border-radius: 4px;
  border: 4px;
  margin-bottom: 10px;
}

.eclipse-entry-red {
  border-color: red;
}

.eclipse-entry-green {
  border-color: green;
}

.eclipse-password-text {
  margin-bottom: 10px;
}

.eclipse-msg-text {
  margin-top: 20px;
}

.eclipse-label-text {
  margin-bottom: 20px;
}

.eclipse-search-entry {
  /* width: 320px; */
  /* padding: 7px 9px; */
  /* border-radius: 18px; */
  /* border-right: 10px; */
  /* border-left: 10px; */
  vertical-align: middle;
}

.eclipse-item-layout {
  /* padding: 10px; */
  border: 0px;
  vertical-align: middle;
  width: 20em;
}

.eclipse-prefs-button {
  border-right: 0px;
  border-left: 10px;
  vertical-align: middle;
}

.eclipse-eclips-button {
  border-right: 15px;
  border-left: 0px;
  vertical-align: middle;
}

.eclipse-search-icon {
  border-right: 10px;
}

.eclipse-quick-layout {
  padding: 0px;
  spacing: 5px;
}

.eclipse-menu-layout {
  padding: 0px;
  /*spacing: 10px;*/
  width: 30em;
}

.eclipse-menu-icon {
  border-right: 10px;
  icon-size: 1.2em;
}

.eclipse-menu-label {
  border-right: 10px;
  font-family: sans-serif;
  font-size: smaller;
  border-top: 1px;
  border-bottom: 1px;
}

.eclipse-create-history-entry {
  vertical-align: middle;
}

.eclipse-history-menu-item {
  padding: 0px;
  margin: 0px;
}

.eclipse-history-size {
  width: 3em;
  border-right: 5px;
  font-weight: normal;
  font-size: smaller;
  font-family: sans-serif;
}

.eclipse-history-clear-icon {
  border-left: 5px;
}

.eclipse-history-delete-icon {
  border-left: 10px;
}

.eclipse-menu-delete-icon {
  border-left: 10px;
  icon-size: 1em;
}

.eclipse-menu-lock-icon {
  border-left: 0px;
  border-right: 15px;
  icon-size: 1em;
}

.eclipse-menu-edit-icon {
  border-left: 0px;
  border-right: 5px;
  icon-size: 1em;
}

.eclipse-menu-content {
  font-weight: normal;
  font-size: smaller;
  font-family: sans-serif;
  border-right: 0px;
}

.eclipse-panel-box {
  spacing: 4px;
}

.eclipse-panel-label {
  font-weight: normal;
  font-stretch: normal;
  font-family: sans-serif;
  font-size: smaller;
}

.eclipse-panel-name {
  font-weight: lighter;
  font-stretch: condensed;
  font-family: sans-serif;
  font-size: smaller;
}


